
@require '~@vuepress/theme-default/styles'

html,body
  background: #282c35;

body 
  color: #d3d3d3;
  font-family: PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;

* 
  box-sizing: border-box;

div[class*="language-"] {
  background-color: #333;
}
