
@require '~@vuepress/theme-default/styles'

html,body
  background: #282c35;

body 
  color: #d3d3d3;
  font-family: PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;

* 
  box-sizing: border-box;

h1, h2, h3, h4, h5, h6 
  color: #d3d3d3;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.35;
p 
  margin-top: 1rem;
h2 
  border-bottom: 1px solid #4e4e4e;

div[class*="language-"] {
  background-color: #333;
}
