{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/essential", "@vue/airbnb"],
  "rules": {
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "vue": "never"
      }
    ],
    "no-param-reassign": ["error", { "props": false }],
    "max-len": 0,
    "vue/no-parsing-error": [
      "error",
      {
        "x-invalid-end-tag": false
      }
    ],
    "no-underscore-dangle": 0,
    "no-restricted-syntax": 0,
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "prefer-destructuring": 0,
    "no-continue": 0,
    "linebreak-style": 0,
    "no-template-curly-in-string": 0,
    "no-useless-escape": 0,
    "vue/html-self-closing": 0,
    "vue/no-use-v-if-with-v-for": 0,
    "no-return-assign": 0,
    "arrow-parens": ["error", "as-needed"]
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
